
.task-editor-group
{
  height:25px;
  margin:0;
  border-spacing: 0;
}
.task-editor-item
{
  margin:0;
  padding:0;
  padding-right: 5px;
}
.task-break-row
{
  height:0px;
  margin:0;
  padding:0;
}
#output-parent
{

  border-spacing: 0px;
  padding-top: 30px;
  padding-left: 50px;
  padding-right: 50px;
  display: inline-block;
  text-align: left;
  vertical-align: top;
}
#task-editor-table
{ 

    border-spacing: 0px;
  width:50%;
  vertical-align: top;
  padding-top: 30px;
  padding-left: 50px;
  padding-right: 50px;
  display: inline-block;
  text-align: left;  
}